.maxWidthDropDown{
    width: 100%;
}

.searchButton {
    text-align: left;
}

.divSearchButton {
    float: right;
    display: contents;    
}

.h3Header{
    background: #007ad9;
    color: white;
}